@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Young serif;
	background-color: #f3e5d7;
    padding: 10px;
    color: #312E2C;
}

main {
	display: flex;
	flex-direction: column;
	width: 50%;
	background-color: white;
    border-radius: 10px;
    padding: 20px;
	gap: 20px;
}

table {
	border-collapse: collapse;
}

td {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

td:last-child {
	font-weight: bold;
	color: #854632;
}

ol {
	display: flex;
	flex-direction: column;
	list-style-position: outside;
	padding-left: 19px;
	gap: 15px;
}

li::marker{
    color: #854632;
}

.card{
    background-color: #FFF7FB;
    color: #7A284E;
    border-radius: 5px;
    padding: 15px;
}

h3{
    color: #854632;
}

.box{
    display: flex;
    gap: 20px;
}

.green{
    padding: 5px;
    background-color: #B5FFAE;
}

.yellow{
    padding: 5px;
    background-color: #F0FFAE;
}


